nav {
    display: flex;
    background-color: blue;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    background-color: aqua;
    color: black;
    padding: 0.25em;
    margin: 5px;
    text-decoration: dashed;
    flex-grow: 1;
}

nav.open {
    opacity: 1;
    transform: translateX(0);
}

menu {
    transform: translateX(100vw);
    height: 100vh;
}

@media screen and (min-width: 700px) {
    #menuToggler {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }
}

#menuToggler {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: green;
    height: 20px;
}

body {
    margin: 0px;
}

p {
    margin: 5px;
}